body {
    background: black;
}
main {
    color: white;
    width: 90vw;
    height: 80vh;
    margin: auto
}
#title {
    display: block;
    text-align: center;
    text-justify: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw;
}
#form, #welcomeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#label, #name, #randomiser, #play {
    margin: 0.5vw;
    font-size: 2vw;
}

#label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw; 
}

#randomiser, #play {
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    padding: 8px;
    border: solid 2px white;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    width: 100%;
}

#buttonContainer {
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    color: white;
    border: solid 2px white;
    padding: 8px;
}

#audioControls {
    position: absolute;
    bottom: 20px;
    left: 1
    0px;
}