body {
    background-color: black;
    color: ghostwhite;
    font-family: helvetica, arial, sans-serif
}

header {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 10px;
}

figure {
    margin: 0px 20px 40px 20px;
    border: outset 5px ghostwhite;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    height: 25%;
}

h2 {
    text-align: center;
    font-size:calc(8px + 1.2vw);
}

img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 25%;
    object-fit: cover;
    border: inset 5px ghostwhite;
    border-radius: 5px;
}

p {
    margin-left: 10px;
    font-size:calc(9px + 0.5vw);
}

ul {
    font-size:calc(9px + 0.5vw);
}