body {
    background-color: black;
    color: ghostwhite;
    font-family: helvetica, arial, sans-serif
}

header {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 10px;
}

figure {
    margin: 0px 20px 40px 20px;
    border: outset 5px ghostwhite;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    text-align: center;
}

img {
    margin: 20px;
    width: 90%;
    max-width: 330px;
    max-height: 180px;
    object-fit: cover;
    border: inset 5px ghostwhite;
    border-radius: 5px;
}

p {
    margin-left: 10px;
}