body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    font-size: max(2vh, 14px);
    font-weight: bold;
    padding: 1vh;
    border: solid 2px black;
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

tr {
    border: 2px solid white;
}

#colours-container {
    height: 100%;
    width: 90vw;
    display: flex;
    flex: 0 0 auto;
    border: solid 2px white;
    margin-top: 10px;
}

#one, #two, #three, #four, #five, #six {
    height: 85vh;
    width: calc(100vw / 6);
    padding: 0 10px 0 10px;
    border: 2px solid white;
    border-radius: 8px;
}   