body {
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr {
    border: 2px solid white;
}

#colours-container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex: 0 0 auto;
    border: solid 2px white;
    margin-top: 10px;
}

#one, #two, #three, #four, #five, #six {
    height: 90vh;
    width: calc(100vw / 6);
    border: 2px solid white;
}   