body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(bg2.jpg) no-repeat center fixed;
    background-size: cover;
  }
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
   
}

h1, h2, h3 {
    text-shadow: 0px 0px 5px whitesmoke;
  }

hr {
    height: 2px;
    background-color: whitesmoke;
    border-color: black;
}

.mainbody {
    width: 90%;
    background-color: rgba(222, 184, 135, 86%);
    margin: auto;
    padding: 20px;
}
.maintext {
    margin-left: 60px;
    margin-right: 60px;

}
p {
    font-size: 16px
}

h3 {
    margin-top: -20px
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 5px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
.gallery h3 {
    text-align: center
}
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
.gallery figcaption {
    max-width: 350px;
}
a:link, a:visited {
    background-color: burlywood;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: brown;
  }

  footer {
    text-align: center;

  }