body {
    font-family: Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white
}
header {
    color: black;
    text-align: center;
    margin: 0;
}
.greeting {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 5em;
}

#wrap {
    margin: 2vw 5vw;
}
.intro {
    margin: 2vw 5vw;
    margin-top: 0;
    text-align: left;
}
#portrait {
    margin-top: 55px;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 115px;
    border: solid 4px black;
    flex-shrink: 2;
}
.flex {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}
.contact {
    margin-right: 20px;
}
#email {
    color: black;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box {
    margin: 60px;
    padding: 20px;
    border: solid 2px black
}

#who {
    margin-right: 30px;
    background-color: aquamarine;
}
#journey {
    margin-left: 30px;
    background-color: peachpuff;
}