body {
    font-family: Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
}
header {
    color: black;
    text-align: center;
    margin: 0;
}
#fontUp, #fontDown {
    position: absolute;
    top: 17px;
    width: 38px;
}
#fontUp {
    right: 154px;
}
#fontDown {
    right: 110px;
}
#gitHubLogo {
    position: absolute;
    top: 10px;
    right: 60px;
    width: 50px;
}
.greeting {
    display: flex;
    justify-content: center;

}
h1 {
    font-size: 5em;
    margin-bottom: 0.2em;
}

h4 {
    margin-top: 0.9em;
    font-size: 1.5em;
} 

#email {
    padding: 10px;
    background-color: lightcoral;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 15px;
}

@keyframes button {
    from {background-color: lightcoral;}
    to {background-color: transparent;}
    from {border-radius: 15px;}
    to {border-radius: 7.5px;}
}

#email:hover {
    animation-name: button;
    animation-duration: 1s;
    background-color: transparent;
    border-radius: 7.5px;
}

#wrap {
    margin: 2vw 5vw;
}

.intro {
    margin: 2vw 5vw;
    margin-top: 0;
    text-align: left;
}

#portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    border: solid 4px black;
    flex-shrink: 2;
}

.contact {
    margin-right: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: 2fr 1fr;
}

.box {
    margin: 60px 60px 0px 60px;
    padding: 7.5px 30px 7.5px 30px;
    border: solid 2px black;
    border-radius: 30px;
}


#who {
    margin-right: 30px;
    background-color: aquamarine;
}

#journey {
    margin-left: 30px;
    background-color: peachpuff;
}

#links {
    grid-column: span 2;
}

.linksGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links {
    padding: 10px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 15px;
    margin: 15px;
}

@keyframes linksbutton {
    from {background-color: lightskyblue;}
    to {background-color: transparent;}
    from {border-radius: 15px;}
    to {border-radius: 7.5px;}
}

.links:hover {
    animation-name: linksbutton;
    animation-duration: 1s;
    background-color: transparent;
    border-radius: 7.5px;
}